@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	/* font-size: 17px; */
}
html {
	scroll-behavior: smooth;
}
/* ................Navbar ....................... */
header {
	z-index: 4;
}
nav .logo {
	width: 175px;
	height: 130px;
	margin: 10px 0 0 17px;
	transition: width 0.5s, height 0.5s;
	object-fit: contain;
}
nav .logo img {
	margin-right: 0px;
	width: 100%;
}
.navbar {
	padding: 0;
	transition: all 0.5s;
}
.navbar .nav ul {
	list-style: none;
	margin: 0;
	transition: all 0.5s ease;
}
.nav ul li {
	margin-right: 11px;
}
.nav ul li a {
	display: block;
	padding: 0px 14px;
	line-height: 40px;
	transition: background 0.5s, border 0.5s;
	text-decoration: none;
	color: white;
	border-radius: 40px;
	border: 1px solid transparent;
}
.nav ul li a:hover,
.btn a:hover {
	color: #005f71;
	background-color: #fff !important;
}
.hamburger {
	width: 50px;
	height: 50px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
	margin-right: 14px;
	z-index: 5 !important;
}
.hamburger span {
	position: absolute;
	background: #fff;
	width: 40px;
	border-radius: 5px;
	height: 4px;
	transition: all 0.5s;
}
.hamburger.toggle span:nth-child(2) {
	transform: translateX(60px);
	background: transparent;
}
.hamburger.toggle span:nth-child(1) {
	width: 40px;
	transform: translateY(0px) rotate(45deg);
}
.hamburger.toggle span:nth-child(3) {
	width: 40px;
	transform: translateY(0px) rotate(315deg);
}
.hamburger span:nth-child(1) {
	transform: translate(-10px, -15px);
	width: 20px;
	transition-delay: 0.2s;
}
.hamburger span:nth-child(3) {
	transform: translate(-5px, 15px);
	width: 30px;
	transition-delay: 0.4s;
}
.active {
	border-color: white !important;
}
.hover {
	background: #29626d;
}
div.notification {
	margin-top: 4px;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	padding: 0 25px 0 16px;
}
div.notification > span {
	background-color: #ff1616;
	top: -7px;
	right: 11px;
}
div.user_pic {
	margin-top: 4px;
	cursor: pointer;
}
div.user_pic > img:first-child {
	margin: 0px 7px 0 18px;
}
div.user_pic > img:last-child {
	margin-right: 14px;
}
/* .........Popover............ */
.popover {
	min-width: 200px;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 0;
	z-index: 2;
}
.popover-header {
	background: #fff;
}
.userInfoText {
	font-size: 14px;
}
.userInfoText b {
	display: block;
	font-weight: 700;
}
.popover-body {
	padding: 0;
	margin: 5px 0;
}
.userInfoItem {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #646464;
	display: block;
	padding: 10px 15px;
	transition: all 0.3s ease;
}
.userInfoItem:hover {
	background: #f6f6f6 !important;
	color: #646464;
}
.backblack {
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
}
/* ..............Navbar End............... */

/* ................Crousel section.................. */
section.crousel {
	background: url("..//Image/Group\ 18.png") no-repeat center center/cover;
	padding-bottom: 27px;
	padding-top: 140px;
}
section.crousel .crousel-text {
	color: #fff;
	max-width: 300px;
	top: 25%;
	left: 30px;
}
section.crousel .crousel-text h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2em;
	padding: 0 0 20px;
}
section.crousel .crousel-text ul {
	padding-left: 5px !important;
}
section.crousel .crousel-text li {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 5px 25px;
	line-height: 20px;
	background: url("../Image/ic-list.svg") no-repeat left 5px;
	background-size: 13px 10px;
}
section.crousel div.register {
	margin-top: 38px;
	background-color: white;
	border-radius: 4px;
}
.register h2 {
	color: #4f4f4f;
	text-align: center;
	font-weight: 900;
	margin: 23px 0 25px 0;
	font-size: 24px;
}
.register form {
	width: 100%;
	padding: 0 36px;
}
.form-control {
	font-size: 16px;
	font-weight: 400;
	padding: 16px 0 18px 16px;
	line-height: 1.5;
	border-color: #c8c8c8;
	margin-bottom: 15px;
	height: 46px;
}
.form-control::placeholder {
	color: #a0a0a0;
}
.input-group-text {
	height: 46px;
}
.form-check-label a {
	color: #1fb6ff !important;
	cursor: pointer;
}
.form-check-label a:hover {
	color: #10afff !important;
}
.form-check-input:focus {
	border-color: #1d798c;
	box-shadow: 0 0 5px 0px #1d798c;
}
.form-check-input:checked {
	background-color: #1d798c;
	border-color: #1d798c;
}
.robot {
	margin: 15px 0 20px 0;
}
button[type="submit"] {
	background-color: #1d7a8c;
	line-height: 46px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	outline: none;
	box-shadow: none;
	border: none;
	padding: 0px 19px 0px 27px;
	margin: 0 auto 19px auto;
	display: block;
}
button[type="submit"] > img {
	margin-left: 8px;
}
section.crousel > div.down {
	margin-top: 44px;
	margin-bottom: 3px;
	cursor: pointer;
}
section.works {
	color: #4f4f4f;
	position: relative;
}
section.works::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	width: 154px;
	background: url("../Image/blog-left-bg.png") no-repeat center center/cover;
	z-index: -1;
}
section.works::after {
	content: "";
	position: absolute;
	right: 0;
	height: 100%;
	width: 176px;
	background: url("../Image/blog-right-bg.png") no-repeat center center/cover;
	z-index: -1;
}
section.works h2 {
	margin-top: 68px;
	margin-bottom: 73px;
	font-weight: 700;
}
section.works > div {
	margin-bottom: 20px;
	/* width: 50%; */
}
.box {
	margin-bottom: 20px;
}
.box-item {
	max-width: 363px !important;
}
.box-item h3 {
	margin-top: 52px;
}
.box-item p:nth-child(2) {
	margin-bottom: 48px;
}
.box-img > img {
	cursor: pointer;
	width: 100%;
	max-width: 260px;
	transition: all 0.5s ease;
}
.box-img > img:hover {
	transform: scale(1.1);
}
.newsletter {
	margin-top: 51px;
}
.newsletter h4 {
	font-size: 18px;
	color: #353548;
	text-align: center;
}
.newsletter div form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 53px;
}
.newsletter div input[type="email"] {
	border: 1px solid #565656;
	color: #565656;
	border-radius: 100px;
	padding: 12px 22px;
	outline: none;
	font-size: 14px;
	margin-top: 16px;
}
.newsletter div input[type="submit"] {
	color: white;
	background-color: #ff7b6d;
	margin-left: 11px;
	font-size: 14px;
	padding: 12px 22px;
	outline: none;
	border-radius: 100px;
	border: none;
	margin-top: 16px;
}
.newsletter {
	margin-top: 60px;
}
.newsletter h2 {
	font-size: 18px;
	color: #353548;
	text-align: center;
}
.newsletter form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 53px;
	flex-wrap: wrap;
}
.newsletter div input[type="email"] {
	border: 1px solid #565656;
	color: #565656;
	padding: 12px 22px;
	outline: none;
	font-size: 14px;
	margin-top: 16px;
	height: 40px;
	background: transparent;
}
.newsletter div input[type="email"]::placeholder {
	color: #565656;
}
.newsletter div input[type="submit"] {
	color: white;
	background-color: #ff7b6d;
	margin-left: 11px;
	font-size: 14px;
	line-height: 40px;
	padding: 0px 22px;
	outline: none;
	border: none;
	margin-top: 16px;
	cursor: pointer;
}
footer {
	background: #111111;
}
.footer-menu {
	padding: 20px 0;
}
.footer-menu .menu ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}
.footer-menu .menu ul li a {
	text-decoration: none;
	color: #f1f1f1;
	padding: 0px 10px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.footer-menu .menu ul li a:hover {
	color: #005f71;
}

.footer-menu .social img {
	margin-top: 3px;
	filter: invert(1);
}
.footer-menu .social div {
	text-align: center;
	position: relative;
	margin: 0 16px;
}
.footer-menu .social div::before {
	content: "";
	height: 0px;
	width: 0px;
	border-radius: 50%;
	position: absolute;
	background: #1d798b;
	left: 50%;
	top: 50%;
	transition: all 0.3s ease;
}
.footer-menu .social div:hover::before {
	height: 40px;
	width: 40px;
	margin-left: -20px;
	margin-top: -20px;
}
footer hr {
	height: 2px !important;
	background: #424242;
	width: 84.6%;
	margin: 0 auto;
	z-index: -1;
}
.terms {
	color: #9ba0a3;
	margin: 0px 117px;
	padding: 23px 0;
	text-align: center;
}
@media only screen and (max-width: 1100px) {
	body {
		overflow-x: hidden;
	}
	.nav ul {
		right: -250px;
		flex-direction: column;
		background: #fff;
		height: 100vh;
		width: 250px;
		top: 0;
		padding: 20px 0;
		position: fixed;
		z-index: 10;
	}
	.nav ul li a {
		display: block;
		border: none;
		width: 100%;
		padding: 10px 20px;
		line-height: 24px;
		color: #646464;
		font-size: 16px;
		border-radius: 0;
	}
	.nav ul li a.active {
		background: transparent;
	}
	.nav ul li a:hover {
		background: #f6f6f6 !important;
		color: #646464;
	}
	.nav ul li a.active:hover {
		color: #005f71 !important;
	}
	.nav.open ul {
		right: 0;
	}
	.backblack.open {
		display: block;
		opacity: 0.5;
	}
	.hamburger {
		display: flex;
	}
	section.crousel .crousel-container {
		flex-direction: column;
		align-items: center;
	}
	section.crousel .crousel-text {
		position: static !important;
	}
	.footer-menu {
		justify-content: space-evenly;
		padding: 20px 25px;
	}
	.menu ul {
		flex-direction: column;
	}
	.menu ul li {
		margin-bottom: 8px;
	}
}
@media only screen and (max-width: 480px) {
	section.works::after {
		width: 0;
	}
	section.works::before {
		width: 0;
	}
	#left {
		padding: 24px 15px;
	}
	.footer-menu {
		flex-direction: column;
	}
	.footer-menu .menu {
		margin: 15px 0px;
	}
	.terms {
		margin: 0px 40px;
	}
}
