@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

/* .............Navbar............... */
header {
	z-index: 3;
}
.navbar {
	background-color: #646464;
	transition: all 0.5s;
	padding: 0;
}
.navbar .logo {
	margin: 5px 0 4px 15px;
}
.navbar .nav ul {
	margin-bottom: 0;
	transition: all 0.5s ease;
}
.nav ul li {
	margin-right: 11px;
	list-style-type: none;
}
.nav ul li a {
	display: block;
	padding: 0px 14px;
	line-height: 40px;
	transition: background 0.5s, border 0.5s;
	text-decoration: none;
	color: white;
	border-radius: 40px;
	border: 1px solid transparent;
}
.nav ul li a:hover {
	color: #005f71;
	background-color: #fff !important;
}
.active {
	border: 1px solid white !important;
	border-radius: 39px;
}
.hover {
	background-color: #29626d;
}
.hamburger {
	width: 50px;
	height: 50px;
	display: none;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	right: 23px;
	top: 0px;
	overflow: hidden;
	z-index: 2;
}
.hamburger span {
	position: absolute;
	background: #fff;
	width: 40px;
	border-radius: 5px;
	height: 4px;
	transition: all 0.5s;
}
.hamburger.toggle span:nth-child(2) {
	transform: translateX(60px);
}
.hamburger.toggle span:nth-child(1) {
	width: 40px;
	transform: translateY(0px) rotate(45deg);
}
.hamburger.toggle span:nth-child(3) {
	width: 40px;
	transform: translateY(0px) rotate(315deg);
}
.hamburger span:nth-child(1) {
	transform: translate(-10px, -15px);
	width: 20px;
	transition-delay: 0.2s;
}
.hamburger span:nth-child(3) {
	transform: translate(-5px, 15px);
	width: 30px;
	transition-delay: 0.4s;
}
div.notification {
	margin-top: 4px;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	padding: 0 25px 0 16px;
}
div.notification > span {
	background-color: #ff1616;
	top: -7px;
	right: 11px;
}
div.user_pic {
	margin-top: 4px;
	cursor: pointer;
}
div.user_pic > img:first-child {
	margin: 0px 7px 0 18px;
}
div.user_pic > img:last-child {
	margin-right: 14px;
}
/* .........Popover............ */
.popover {
	min-width: 200px;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 0;
	z-index: 2;
}
.popover-header {
	background: #fff;
}
.userInfoText {
	font-size: 14px;
}
.userInfoText b {
	display: block;
	font-weight: 700;
}
.popover-body {
	padding: 0;
	margin: 5px 0;
}
.userInfoItem {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #646464;
	display: block;
	padding: 10px 15px;
	transition: all 0.3s ease;
}
.userInfoItem:hover {
	background: #f6f6f6 !important;
	color: #646464;
}
.backblack {
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
}
/* .......................Navbar End.................... */
.banner img {
	width: 100%;
}
/* .................Contact section............... */
.contact .heading {
	margin-top: 39px;
}
.heading h3 {
	color: #4f4f4f;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
}
.heading-underline {
	width: 164px;
	height: 25px;
	margin-bottom: 53px;
}
.heading-underline img {
	right: 69px;
}
.heading-underline span {
	position: absolute;
	height: 1px;
	width: 62px;
	background-color: #cccccc;
	top: 49%;
}
.contact {
	max-width: 757px;
	margin-top: 50px;
}
.item {
	max-width: 197px;
}
.item img {
	margin-bottom: 23px;
}
.item p {
	font-size: 16px;
	line-height: 29px;
	color: #4f4f4f;
	margin: 0;
}
hr {
	border: 1px solid #e1e1e1;
	width: 73%;
	margin: auto;
	margin-top: 73px;
}
/* .................Contact End........................... */
/* .......................Contact form................. */
section.contact-form {
	margin-top: 80px;
}
.contact-form h2 {
	font-size: 28px;
	color: #4f4f4f;
	font-weight: 700;
	line-height: 24px;
}
.contact-form form {
	max-width: 614px;
	margin: 30px auto 0;
}
.contact-form form > div.row {
	margin: 0;
	margin-bottom: 15px;
}
.contact-form form .row .col {
	margin: 0;
}
.input-group span {
	height: 60px;
}
.contact-form form input::placeholder,
.contact-form form select::placeholder,
.contact-form form textarea::placeholder {
	color: #a0a0a0;
}
.contact-form form > select {
	background-image: url("../Image/down-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	appearance: none;
}
.contact-form form input,
.contact-form form select,
.contact-form form textarea {
	font-size: 16px;
	color: #a0a0a0;
	border: 1px solid #c8c8c8;
	border-radius: 4px;
	padding: 17px 16px;
	margin: 0;
}
.contact-form form textarea {
	height: 146px;
}
.contact-form form input[type="submit"] {
	background: #1d7a8c;
	margin: 0 auto;
	display: block;
	line-height: 46px;
	max-width: 168px;
	color: #ffffff !important;
	font-size: 20px !important;
	margin-top: 8px;
	padding: 0px 50px !important;
	margin-bottom: 80px !important;
	transition: all 0.5s ease-out;
}
.contact-form form input[type="submit"]:hover {
	background: #13525f;
}
/* ............Contact form end....................... */
/* ...................Map section..................... */
.map {
	margin: 0 -12px;
}
.map img {
	width: 100%;
	height: auto;
}
.newsletter {
	margin-top: 47px;
}
.newsletter h4 {
	font-size: 18px;
	color: #353548;
	text-align: center;
}
.newsletter form {
	margin-bottom: 53px;
}
.newsletter div input[type="email"] {
	border: 1px solid #565656;
	color: #565656;
	padding: 12px 22px;
	outline: none;
	font-size: 14px;
	margin-top: 16px;
	height: 40px;
	background: transparent;
}
.newsletter div input[type="email"]::placeholder {
	color: #565656;
}
.newsletter div input[type="submit"] {
	color: white;
	background-color: #ff7b6d;
	margin-left: 11px;
	font-size: 14px;
	line-height: 40px;
	padding: 0px 22px;
	outline: none;
	border: none;
	margin-top: 16px;
	cursor: pointer;
}
/* ..............Map section end............. */
/* ...............footer................... */
footer {
	background: #111111;
}
.footer-menu {
	padding: 20px 0;
}
.footer-menu .menu ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}
.footer-menu .menu ul li a {
	text-decoration: none;
	color: #f1f1f1;
	padding: 0px 10px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.footer-menu .menu ul li a:hover {
	color: #005f71;
}

.footer-menu .social img {
	margin-top: 3px;
	filter: invert(1);
}
.footer-menu .social div {
	text-align: center;
	position: relative;
	margin: 0 16px;
}
.footer-menu .social div::before {
	content: "";
	height: 0px;
	width: 0px;
	border-radius: 50%;
	position: absolute;
	background: #1d798b;
	left: 50%;
	top: 50%;
	transition: all 0.3s ease;
}
.footer-menu .social div:hover::before {
	height: 40px;
	width: 40px;
	margin-left: -20px;
	margin-top: -20px;
}
footer hr {
	height: 2px !important;
	background: #424242;
	width: 84.6%;
	margin: 0 auto;
	z-index: -1;
}
.terms {
	color: #9ba0a3;
	margin: 0px 117px;
	padding: 23px 0;
	text-align: center;
}
/* ..............footer end................ */
@media only screen and (max-width: 983px) {
	body {
		overflow-x: hidden;
	}
	.nav ul {
		right: -250px;
		flex-direction: column;
		background: #fff;
		height: 100vh;
		width: 250px;
		top: 0;
		padding: 20px 0;
		position: fixed;
		z-index: 10;
	}
	.nav ul li a {
		display: block;
		border: none;
		width: 100%;
		padding: 10px 20px;
		line-height: 24px;
		color: #646464;
		font-size: 16px;
		border-radius: 0;
	}
	.nav ul li a.active {
		background: transparent;
	}
	.nav ul li a:hover {
		background: #f6f6f6 !important;
		color: #646464;
	}
	.nav ul li a.active:hover {
		color: #005f71 !important;
	}
	.nav.open ul {
		right: 0;
	}
	.backblack.open {
		display: block;
		opacity: 0.5;
	}
	.hamburger {
		display: flex;
	}
	.footer-menu {
		justify-content: space-evenly;
	}
	.menu ul {
		flex-direction: column;
	}
	.menu ul li {
		margin-bottom: 8px;
	}
}
@media only screen and (max-width: 575px) {
	.contact {
		flex-direction: column;
	}
	.contact div.item {
		margin-bottom: 48px;
	}
	hr {
		margin-top: 25px;
	}
	.contact-form form > div {
		width: 100%;
		flex-wrap: wrap;
	}
	.contact-form form > div input {
		width: 100%;
	}
	.contry_code {
		width: 100%;
	}
	.footer-menu {
		flex-direction: column;
	}
	.footer-menu .menu {
		margin: 15px 0px;
	}
	.terms {
		margin: 0px 40px;
	}
}
